/* app.component.css */

@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';
.nav-link {
    color: #ffffff;
    font-weight: bold;
}
  
.nav-link:hover {
    color: #9a0606;
    font-style: bold;
    font-weight: bold;
}

.nav-link:active, .nav-link:focus {
    color: rgb(255, 0, 0);
}
  
.custom-navbar {
    background-color: rgb(37, 37, 37);
}

.navbar-nav {
  margin-right: 5%; 
}

.navbar-brand:hover {
    animation: pulse 1s infinite;
}

@media (max-width: 576px) {
  .navbar-brand img {
    height: 50px; 
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav li {
    width: 100%;
    margin-bottom: 10px;
  }

  .navbar-nav.ms-auto {
    margin-top: 10px;
  }
}

@media all and (min-width: 300px) {
  .navbar-brand img {
    height: 60px; 
    display: block;   
  width: 100%;
  }
}

