/* about-us.component.css */

.about-us-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .about-us-item {
    width: 100%;
    height: auto;
    margin: 5% 0% 5% 0%;
    text-align: center;
  }

  img{
    width: 70%;
    border-radius: 5%;
    border: 2px solid black;
    margin: 1%;
  }

  .linea{
    display: flex;
    justify-content: center;
  }

  .rojo{
    color:  red;
  }

  .azul{
    color:  rgb(21, 0, 252);
  }