
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <div class="about-us-item">
                <img src="assets/images/dani.jpeg" alt="Imagen 1" class="img-fluid">
               <div class="linea"><h4>Caudillo de la banda,</h4><h4 class="rojo">&#8205; cordura 20%</h4></div>
            </div>

            <div class="about-us-item">
                <img src="assets/images/benito.jpeg" alt="Imagen 3" class="img-fluid">
                <div class="linea"><h4>Está tan confuso que se irio a si mismo</h4></div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="about-us-item">
                <img src="assets/images/amanda.jpeg" alt="Imagen 2" class="img-fluid">
                <div class="linea"><h4>No consigue controlar a Menito</h4></div>
            </div>

            <div class="about-us-item">
                <img src="assets/images/antonio.jpeg" alt="Imagen 4" class="img-fluid">
                <div class="linea"><h4>Liando cigarro......</h4><h4 class="azul">78%</h4></div>
            </div>
        </div>
    </div>
</div>
