<div class="container">
  <h2 class="h2o">Datos del Usuario</h2>
  <div *ngIf="usuario">
    <p>Nombre: {{ usuario.userName }}</p>
    <p>Email: {{ usuario.email }}</p>
    <p>Rol: {{ usuario.rol }}</p>
    <p>Direccion: {{ usuario.address }}</p>
  </div>
  <button class="editar" (click)="editarUsuario(usuario)">Modificar Datos</button>
  <hr>
  <button (click)="cerrarSesion()">Cerrar Sesión</button>
  <hr>
  <h2 class="h2o">Listado de Pedidos</h2>
  <div *ngFor="let pedido of pedidos">
    <p>Pedido {{ pedido.id }}</p>
    <p>Fecha: {{ pedido.fecha }}</p>
    <p>Total: {{ pedido.total }}</p>
  </div>
</div>

