.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

p {
  margin: 5px 0;
}


button.editar {
  background-color: #ff3e00; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

button.editar:hover {
  background-color: #c72e00; 
}


hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}


.pedido {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.pedido p {
  margin: 5px 0;
}
.usuario {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.usuario p {
  margin: 5px 0;
}

.usuario button.editar {
  background-color: #000000; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.usuario button.editar:hover {
  background-color: #8b1414; 
}
