body {
  margin: 0;
  padding: 0;
  background-color: rgb(91, 2, 2); /* Cambia el color de fondo según tu preferencia */
  height: 100%; /* Ajusta la altura al 100% de la ventana */
  justify-content: center;
  align-items: center;
}



.container {
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.producto {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.imagen-producto {
  width: 250px; 
  height: 220px; 
  border-radius: 15px;
  margin-right: 20px;
}

.producto-details {
  flex-grow: 1;
}


.botones {
  display: flex;
}

.accion {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.accion:hover {
  background-color: #991e1e; 
}

.boton-pedido {
  display: block;
  width: 100%;
  padding: 10px 0;
  background-color: black; 
  color: #fff;
  text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }

.boton-pedido:hover {
  background-color: #126006; 
}

/**Responsive */

@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px; 
  }

  .imagen-producto {
    width: 80px; 
    height: 80px;
    margin-right: 10px; 
  }

  .producto {
    margin-bottom: 15px;
  }

  h1 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px; 
  }

  .imagen-producto {
    width: 60px; 
    height: 60px;
    margin-right: 5px;

  .producto {
    margin-bottom: 10px; 
  }

  h1 {
    font-size: 20px; 
  }
}

}