
<body class="fondo">

  <div class="container">
    <h1>CARRITO</h1>
  
    <div *ngFor="let producto of productosEnCesta" class="producto">
      <img [src]="backendUrl + producto.imagen.imagenUrl" alt="{{ producto.nombre }}" class="imagen-producto">
      <div class="producto-details">
        <p>{{ producto.nombre }}</p>
        <p>Cantidad: {{ producto.cantidad }}</p>
        <p>Precio: {{ producto.precio }}€</p>
      </div>
      <div class="botones">
        <button class="accion" (click)="agregarProducto(producto.productoID, 1)">+</button>
        <button class="accion" (click)="quitarProducto(producto.productoID)">-</button>
      </div>
    </div>
  
    <button class="boton-pedido" [routerLink]="['/confirmacion-compra']">Realizar Pedido</button>
  </div>
  
  </body>