<div class="container">


    <div class="productos-lista">
        <h2>Mi carrito</h2>
        
        <div class="productos">
            <div id="CantidadProducto"><span>Nombre Producto</span><br>
                <button id="btnAñadir">Añadir</button>
                <button id="btnEliminar">Eliminar</button>
            </div>
            <div id="imagenProducto">
               
            </div>
        </div>
    </div>
   
   
    <div class="Resumen">
        <h4>Resumen</h4>
       
        <p>Subtotal: $<span id="Subtotal">0</span></p>
        <p>Total del Pedio: $<span id="total">0</span></p>
        <button id="btnValidar">Validar</button><br><br>
        <button class="btnFinalizarCompra">Finaliza Compra</button>
    </div>


</div>
