<p>confirmacion-compra works!</p>
- Solo los usuarios que han iniciado sesion podran ver este componente, si no estan logueados
se les enviara a iniciar sesion.
- Se mostraran todos los productos que va a comprar el usuarios- Su imagen, nombre, precio y cantidad
- Cantidad total en euros y en ethereum
- Boton de Realizar Compra
- El usuario recibira un email de la factura
- Se vaciará el carrito guardado en local
- Si tiene una cesta en base de datos, no se borrará
- La compra realizada se guardará en base de datos
- Se reducira el stock de los productos que se han comprado
<br>
<div *ngFor="let producto of productosEnCesta">
    <img [src]="producto.imagen" alt="{{ producto.nombre }}">
    <p>{{ producto.nombre }} - Cantidad: {{ producto.cantidad }}</p>
    <p>{{ producto.precio }}€</p>
</div>
<br>
<button>Realizar Compra</button>