<div *ngIf="isAdmin">
  <div class="header">

    <i class="fas fa-search"></i>
  
    <div class="search-container">
      <input type="text" placeholder="Buscar..." [(ngModel)]="filtro" (input)="aplicarFiltro()">
    </div>
  
    <div class="boton">
      <button (click)="crearProducto()" class="botonadd">Añadir producto</button>
    </div>
  
  </div>
  <div class="catalogo-container">
    <div class="catalogo">
      <div *ngFor="let producto of catalogo" class="tarjeta" (click)="verDetalles(producto.productoID)">
          <span><strong>Id:</strong> {{producto.productoID}}</span>
          <span><strong>Imagen:</strong> <img [src]="backendUrl + producto.imagen.imagenUrl" alt="{{producto.nombre}}" style="border-radius: 10px; width: 50px; height: 50px;"></span>
          <span><strong>Nombre:</strong> {{producto.nombre}}</span>
          <span><strong>Precio:</strong> {{producto.precio}}€</span>
      </div>
    </div>
  </div>
</div>
