<!-- pagina-principal.component.html -->
<div class="pagina-principal">
    <div class="empresa-info">
      <img class="fondo" src="assets/images/fondo.jpg" alt="Logo de la empresa">
      <br>
      <br>
      <div>
        <h4>Somos una tienda especializada en zapatillas exclusivas, donde la moda se encuentra con la comodidad. </h4> 
        <p>En BAD INFLUENCE, nos dedicamos a proporcionar a nuestros clientes la última moda en calzado, combinando diseños únicos con materiales de alta calidad.</p>
      </div>

      <h3>¿Por qué elegirnos?</h3>

      <div class="lista-pag-principal">
        
          <div class="puntos"><strong>Diseños Exclusivos:</strong><p>Nuestras zapatillas son cuidadosamente seleccionadas y adquiridas por expertos en moda para ofrecer un estilo único y vanguardista.</p></div>
          <div class="puntos"><strong>Calidad Superior:</strong><p>Ofrecemos materiales premium para garantizar la durabilidad y comodidad de cada par de zapatillas.</p></div>
          <div class="puntos"><strong>Servicio al Cliente Personalizado:</strong><p>Nos preocupamos por la satisfacción de nuestros clientes y ofrecemos un servicio personalizado para ayudarte a encontrar el par perfecto.</p></div>
          <div class="puntos"><strong>Envío Rápido y Seguro:</strong><p>Realizamos envíos rápidos y seguros para que puedas disfrutar de tus zapatillas exclusivas en poco tiempo.</p></div>

      </div><br>
    </div>
    
    <div class="carrusel">
      <div *ngFor="let foto of fotosPequenas" class="foto-pequena">
        <img src="{{ foto }}" alt="Foto de la empresa" class="imagen-redondeada">
      </div>
    </div>

  