<!-- pagina-principal.component.html -->
<div class="pagina-principal">
    <div class="empresa-info">
      <img class="fondo" src="assets/images/fondo.jpeg" alt="Logo de la empresa">
      
      <br>
      <br>
      <p>Somos una tienda especializada en zapatillas exclusivas, donde la moda se encuentra con la comodidad. </p> 
      <p>En BAD INFLUENCE, nos dedicamos a proporcionar a nuestros clientes la última moda en calzado, combinando diseños únicos con materiales de alta calidad.</p>

      <h2>¿Por qué elegirnos?</h2>
      <div class="lista-pag-principal">
        <ul>
          <li><strong>Diseños Exclusivos:</strong> Nuestras zapatillas son cuidadosamente seleccionadas y adquiridas por expertos en moda para ofrecer un estilo único y vanguardista.</li>
          <li><strong>Calidad Superior:</strong> Ofrecemos materiales premium para garantizar la durabilidad y comodidad de cada par de zapatillas.</li>
          <li><strong>Servicio al Cliente Personalizado:</strong> Nos preocupamos por la satisfacción de nuestros clientes y ofrecemos un servicio personalizado para ayudarte a encontrar el par perfecto.</li>
          <li><strong>Envío Rápido y Seguro:</strong> Realizamos envíos rápidos y seguros para que puedas disfrutar de tus zapatillas exclusivas en poco tiempo.</li>
        </ul>
      </div>

      <p>Siente la exclusividad en cada paso con BAD INFLUENCE. Explora nuestra colección y encuentra el par perfecto que refleje tu estilo único.</p>
    </div>
    
    <div class="carrusel">
      <div *ngFor="let foto of fotosPequenas" class="foto-pequena">
        <img src="{{ foto }}" alt="Foto de la empresa" class="imagen-redondeada">
      </div>
    </div>
</div>
  