/* registro.component.css */
form {
    width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 20px;
  }
  
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #6d0a0a;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #232323;
  }

  .welcome-message {
    color: green;
    text-align: center;
    margin-top: 10px; /* Ajusta según sea necesario */
  }

  .error-message {
    color: red;
    text-align: center;
    margin-top: 10px; /* Ajusta según sea necesario */
  }
  